<mat-toolbar color="primary">
    <div class="header">
      <span class="employee-management">Employee Management</span>
    </div>
    <span class="spacer"></span>
  
    <button mat-raised-button color="primary" class="toolbar-button" (click)="onClick_listOfEmployees()">
       List of employees
    </button>
  
    <button mat-raised-button color="primary" class="toolbar-button" (click)="onClick_listOfDepartment()">
        List of department
    </button>
</mat-toolbar>
  <router-outlet></router-outlet>
  
