<mat-card class="center-card">
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
      <h3 mat-card-title class="form-title">Edit Employee Information</h3>
      <mat-card-content>
  
        <!-- Personal Information -->
        <mat-label>Name</mat-label>
        <mat-form-field appearance="fill">
          <input matInput formControlName="name" required>
          <mat-error *ngIf="employeeForm.get('name')?.hasError('required') && employeeForm.get('name')?.touched">
            Name is required.
          </mat-error>
        </mat-form-field>
  
        <mat-label>Email</mat-label>
        <mat-form-field appearance="fill">
          <input matInput formControlName="email" type="email" required>
          <mat-error *ngIf="employeeForm.get('email')?.hasError('email') && employeeForm.get('email')?.touched">
            Enter a valid email address.
          </mat-error>
        </mat-form-field>
  
        <mat-label>Phone Number</mat-label>
        <mat-form-field appearance="fill">
          <input matInput formControlName="phoneNumber" required>
          <mat-error *ngIf="employeeForm.get('phoneNumber')?.hasError('required') && employeeForm.get('phoneNumber')?.touched">
            Phone number is required.
          </mat-error>
        </mat-form-field>
  
        <mat-label>Department</mat-label>
        <mat-form-field appearance="fill">
          <input matInput formControlName="departmentName" required>
          <mat-error *ngIf="employeeForm.get('departmentName')?.hasError('required') && employeeForm.get('departmentName')?.touched">
            Department is required.
          </mat-error>
        </mat-form-field>
  
        <!-- Submit Button -->
        <div class="button-container">
          <button mat-raised-button color="primary" type="submit" [disabled]="employeeForm.invalid" class="submit-button">
            Update
          </button>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
  